In [8]:
file_path = "abfss://fsogvd@datalakeogvdlabs.dfs.core.windows.net/user/NYCTripSmall.parquet"

df_taxi = spark.read.parquet(file_path)

print("Datos NYC Taxi cargados desde Data Lake:")
print(f"Total registros: {df_taxi.count()}")
print(f"Total columnas: {len(df_taxi.columns)}")
print("\nPrimeras 5 filas:")
df_taxi.show(5)

print("\nEsquema de datos:")
df_taxi.printSchema()

StatementMeta(sparkpool01, 0, 8, Finished, Available, Finished)

Datos NYC Taxi cargados desde Data Lake:
Total registros: 68211
Total columnas: 20

Primeras 5 filas:
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2023-01-01 00:26:10|  2023-01-01 00:37:11|                 N|       1.0|         166|         143|            1.0|         2.58|       14.9|  1.0|    0.5|      4.03|         0.0|     null|                  1.0|       24.18|         1.0|      1.0|                2.75|
|       2| 2023-01-01 00:51:03|  2023-01-01 00:57:49|                 N|       1.0|          24|          43|            1.0|         1.81|       10.7|  1.0|    0.5|      2.64|         0.0|     null|                  1.0|       15.84|         1.0|      1.0|                 0.0|
|       2| 2023-01-01 00:35:12|  2023-01-01 00:41:32|                 N|       1.0|         223|         179|            1.0|          0.0|        7.2|  1.0|    0.5|      1.94|         0.0|     null|                  1.0|       11.64|         1.0|      1.0|                 0.0|
|       1| 2023-01-01 00:13:14|  2023-01-01 00:19:03|                 N|       1.0|          41|         238|            1.0|          1.3|        6.5|  0.5|    1.5|       1.7|         0.0|     null|                  1.0|        10.2|         1.0|      1.0|                 0.0|
|       1| 2023-01-01 00:33:04|  2023-01-01 00:39:02|                 N|       1.0|          41|          74|            1.0|          1.1|        6.0|  0.5|    1.5|       0.0|         0.0|     null|                  1.0|         8.0|         1.0|      1.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows


Esquema de datos:
root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- lpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [9]:
df_taxi.createOrReplaceTempView("nyc_taxi")
print("Vista temporal 'nyc_taxi' creada en base de datos Spark")

row_count = spark.sql("SELECT COUNT(*) as total FROM nyc_taxi").collect()[0]['total']
print(f"Total de registros en vista: {row_count}")

StatementMeta(sparkpool01, 0, 9, Finished, Available, Finished)

Vista temporal 'nyc_taxi' creada en base de datos Spark
Total de registros en vista: 68211

In [10]:
print("ANÁLISIS 1: Estadísticas básicas")
basic_stats = spark.sql("""
SELECT 
    COUNT(*) as total_trips,
    AVG(total_amount) as avg_fare,
    MIN(total_amount) as min_fare,
    MAX(total_amount) as max_fare,
    AVG(trip_distance) as avg_distance,
    MIN(trip_distance) as min_distance,
    MAX(trip_distance) as max_distance
FROM nyc_taxi
WHERE total_amount > 0 AND trip_distance > 0
""")
basic_stats.show()

print("\nANÁLISIS 2: Distribución por tipo de pago")
payment_analysis = spark.sql("""
SELECT 
    payment_type,
    COUNT(*) as trip_count,
    ROUND(AVG(total_amount), 2) as avg_amount,
    ROUND(SUM(total_amount), 2) as total_revenue,
    ROUND(AVG(trip_distance), 2) as avg_distance
FROM nyc_taxi 
WHERE total_amount > 0
GROUP BY payment_type
ORDER BY trip_count DESC
""")
payment_analysis.show()

print("\nANÁLISIS 3: Patrones temporales por hora")
temporal_analysis = spark.sql("""
SELECT 
    HOUR(lpep_pickup_datetime) as pickup_hour,
    COUNT(*) as trips_count,
    ROUND(AVG(trip_distance), 2) as avg_distance,
    ROUND(AVG(total_amount), 2) as avg_fare
FROM nyc_taxi
WHERE lpep_pickup_datetime IS NOT NULL
GROUP BY HOUR(lpep_pickup_datetime)
ORDER BY pickup_hour
""")
temporal_analysis.show(24)

StatementMeta(sparkpool01, 0, 10, Finished, Available, Finished)

ANÁLISIS 1: Estadísticas básicas
+-----------+------------------+--------+--------+-----------------+------------+------------+
|total_trips|          avg_fare|min_fare|max_fare|     avg_distance|min_distance|max_distance|
+-----------+------------------+--------+--------+-----------------+------------+------------+
|      64742|21.767631985419392|    1.01|   456.0|8.547262982298957|        0.01|   120098.84|
+-----------+------------------+--------+--------+-----------------+------------+------------+


ANÁLISIS 2: Distribución por tipo de pago
+------------+----------+----------+-------------+------------+
|payment_type|trip_count|avg_amount|total_revenue|avg_distance|
+------------+----------+----------+-------------+------------+
|         1.0|     40645|     23.03|    936029.08|        2.62|
|         2.0|     22605|      18.4|    415884.75|        2.54|
|        null|      4319|     30.53|    131879.51|       90.03|
|         3.0|       330|     10.43|      3442.35|        0.92|
|         4.0|        62|     10.01|       620.65|        1.02|
|         5.0|         2|     14.75|         29.5|         0.0|
+------------+----------+----------+-------------+------------+


ANÁLISIS 3: Patrones temporales por hora
+-----------+-----------+------------+--------+
|pickup_hour|trips_count|avg_distance|avg_fare|
+-----------+-----------+------------+--------+
|          0|       1129|        2.91|    21.2|
|          1|        891|        7.58|   23.02|
|          2|        659|         3.4|   24.33|
|          3|        598|        3.29|   25.68|
|          4|        451|        8.01|    26.6|
|          5|        431|       28.45|   30.06|
|          6|        998|      130.54|   22.73|
|          7|       2646|       19.03|   21.11|
|          8|       3219|        7.33|   21.98|
|          9|       3520|       17.89|   21.56|
|         10|       3633|        3.73|   21.66|
|         11|       3735|        3.64|   21.58|
|         12|       3806|        3.75|   21.37|
|         13|       4012|        2.76|   21.63|
|         14|       4415|        2.76|   21.94|
|         15|       5105|        3.28|   21.21|
|         16|       5216|         2.8|   22.51|
|         17|       5223|        5.26|   22.58|
|         18|       5236|       16.42|   21.87|
|         19|       4223|        2.38|   20.85|
|         20|       3234|        3.19|    20.8|
|         21|       2415|        4.23|   20.72|
|         22|       1912|        4.89|   21.29|
|         23|       1504|        4.51|   21.15|
+-----------+-----------+------------+--------+

In [11]:
print("ANÁLISIS 4: Top ubicaciones de pickup")
pickup_locations = spark.sql("""
SELECT 
    PULocationID,
    COUNT(*) as pickup_count,
    ROUND(AVG(total_amount), 2) as avg_fare,
    ROUND(AVG(trip_distance), 2) as avg_distance
FROM nyc_taxi
WHERE PULocationID IS NOT NULL
GROUP BY PULocationID
ORDER BY pickup_count DESC
LIMIT 15
""")
pickup_locations.show()

print("\nANÁLISIS 5: Distribución por día de la semana")
weekday_analysis = spark.sql("""
SELECT 
    DAYOFWEEK(lpep_pickup_datetime) as day_of_week,
    CASE DAYOFWEEK(lpep_pickup_datetime)
        WHEN 1 THEN 'Sunday'
        WHEN 2 THEN 'Monday'
        WHEN 3 THEN 'Tuesday'
        WHEN 4 THEN 'Wednesday'
        WHEN 5 THEN 'Thursday'
        WHEN 6 THEN 'Friday'
        WHEN 7 THEN 'Saturday'
    END as day_name,
    COUNT(*) as trips_count,
    ROUND(AVG(total_amount), 2) as avg_fare
FROM nyc_taxi
WHERE lpep_pickup_datetime IS NOT NULL
GROUP BY DAYOFWEEK(lpep_pickup_datetime)
ORDER BY day_of_week
""")
weekday_analysis.show()

print("\nGuardando resultados de análisis...")
payment_analysis.write.mode("overwrite").parquet("abfss://fsogvd@datalakeogvdlabs.dfs.core.windows.net/user/payment_analysis.parquet")
temporal_analysis.write.mode("overwrite").parquet("abfss://fsogvd@datalakeogvdlabs.dfs.core.windows.net/user/temporal_analysis.parquet")
print("Análisis guardados en Data Lake")

StatementMeta(sparkpool01, 0, 11, Finished, Available, Finished)

ANÁLISIS 4: Top ubicaciones de pickup
+------------+------------+--------+------------+
|PULocationID|pickup_count|avg_fare|avg_distance|
+------------+------------+--------+------------+
|          74|       13257|   19.34|        2.64|
|          75|        9109|   20.11|        2.29|
|          41|        4058|   18.16|       14.42|
|         166|        3879|   21.57|        2.56|
|          95|        3839|   19.13|        2.44|
|          82|        2927|   21.35|         6.9|
|          43|        2868|   22.17|        2.38|
|          97|        2195|   21.61|        2.45|
|           7|        1965|   20.35|        3.56|
|         244|        1804|   31.31|       43.15|
|          42|        1800|   18.61|        3.69|
|          65|        1546|   24.68|        2.98|
|         260|        1409|    21.6|        2.82|
|         129|        1320|   21.09|        2.62|
|         130|        1238|   26.79|        4.14|
+------------+------------+--------+------------+


ANÁLISIS 5: Distribución por día de la semana
+-----------+---------+-----------+--------+
|day_of_week| day_name|trips_count|avg_fare|
+-----------+---------+-----------+--------+
|          1|   Sunday|       8347|   21.75|
|          2|   Monday|       9993|   21.62|
|          3|  Tuesday|      11263|    21.8|
|          4|Wednesday|       9886|   21.63|
|          5| Thursday|      10209|   22.14|
|          6|   Friday|       9993|    21.9|
|          7| Saturday|       8520|   21.64|
+-----------+---------+-----------+--------+


Guardando resultados de análisis...
Análisis guardados en Data Lake